/* ---------------------------------
 *         Responsive Layout
 * --------------------------------- */
+widescreen()
    .is-1-column .container, .is-2-column .container
        max-width: $maxscreen - 2 * $gap
    .section
        padding: 3rem 0rem
    .container.is-fluid
        padding: 0 2 * $gap
    .column-left, .column-right
        width: 400px

+tablet()
    .is-sticky
        position: -webkit-sticky
        position: sticky
        top: 1.5rem
        z-index: 99

    .column-main, .column-left, .column-right, .column-right-shadow
        &.is-sticky
            top: .75rem
            align-self: flex-start

+mobile()
    .section
        padding: 1.5rem 1rem
    .container.is-fluid
        padding: 0